.top {
    text-align: center;
    width: 100%;
    height: 391px;
    background-image: url("imgs/noithat5.jpg") ;


}
.top .dong1 {
    box-sizing:border-box;
    font-family:Jost, sans-serif;
    font-size:14px;
    font-weight: 600 ;
    color: rgb(255, 255, 255);


}
.dong{
    margin-top: 100px;
    position: absolute;
text-align: center;
    left: 380px;
}
.top .dong2{
    font-family: Jost, sans-serif;
    font-size :80px;
    color:rgb(255, 255, 255);
    line-height: 96px;
    font-weight: 400;
}
.top .dong3{
    font-family: Jost, sans-serif;
    color:rgb(255, 255, 255);
    font-size :16px;
    line-height :24px;
}
.mid {
    width: 100%;
    height: 597px;
    margin-top: 20px;
}
.mid .khoimid1 {
    width: 442px;
    height: 556px;
    padding:15px 81px 15px 15px ;

}
.mid .khoimid2{
    width: 611px;
    height: 547px;

}
.khoimid2{
    width: 611px;
    height: 474px;
    padding:0px 60px 50px 60px;
    border: 1px;

}
.mid {
    display: flex;
}
.khoi1mid1 {
    color :rgb(0, 0, 0);
    font-family :Jost, sans-serif;
    font-size :28px;
    font-weight: 600;
}
.khoi1mid2 {
    color :rgb(138, 139, 142);
    font-size :16px;
    font-weight: 400;
    line-height :24px;
    font-family:Jost, sans-serif;
}
.khoi2mid1 h5{
    color: rgb(187, 187, 187);
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height :21px;
}
.khoi2mid1  p{
    color :rgb(0, 0, 0);
    font-family: Jost, sans-serif;
    font-weight :500;
    font-size :14px;
    margin-bottom :3px;
}
.khoi3mid1 h5{
    color: rgb(187, 187, 187);
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height :21px;
}
.khoi4mid1 h5{
    color: rgb(187, 187, 187);
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height :21px;
}
.khoimid2{
    width: 611px;
    height: 474px;
    line-height: 24px;
    padding:0px 60px 50px 60px;

}
.khoimid2 .khoimid3 h3{
    width: 205px;
    height: 44px;
    font-size: 36px;
    font-weight: 600;
    color: rgb(0,0,0);
    line-height: 43px;

}
.khoimid2 p{
    color :rgb(138, 139, 142);
    font-size :16px;
    font-weight: 400;
    line-height :24px;
    font-family:Jost, sans-serif;
}
.khoimid2 .khoimid3 .khoiten{
    width: 377px;
    height: 78px;
    padding: 0px 12px 0px 12px ;
    max-width :100%;
    line-height: 24px;
}
.khoimid2 .khoimid3 .khoiten input[type=name]{
    width: 262px;
    height: 24px;
    padding: 8px 15px 8px 15px ;
    font-size: 15px;

}
.khoimid2 .khoimid3 .khoiemail{
    width: 294px;
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 12px 0px 12px;
}
.khoimid2 .khoimid3 .khoiemail input[type=email]{
    width: 262px;
    height: 24px;
    padding: 8px 15px 8px 15px;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
}.khoimid2 .khoimid3 .khoisubject {
    width:611px ;
    height: 80px;
    padding: 0px 12px 0px 12px ;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
 }
.khoimid2 .khoimid3 .khoisubject  input[type=subject]{
    width: 262px;
    height: 24px;
    padding: 8px 15px 8px 15px;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
}
.khoimid2 .khoimid3 .khoimessage{
width: 611px;
height: 165px;
padding: 0px 12px 0px 12px ;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.khoimid2 .khoimid3 .khoimessage  input[type=message]{
width: 578px;
height: 102px;
padding: 8px 15px 8px 15px;
margin-bottom: 10px;
font-size: 15px;
font-weight: 400;
}
.khoimid2 .khoisend {
width: 611px;
height: 94px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding: 0px 12px 0px 12px ;
}
.khoimid2 .khoisend a{
    width:579px;
height: 35px;
padding: 8px 15px 8px 15px;
background-color:rgb(235, 119, 0) ;
    text-decoration: none;
    border-radius: 5px;
font-size: 15px;
font-weight: 500;
}